{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
<div class = "about_header" align = 'center'>О НАС</div>
<div clas = 'about'>
    <div class="about_countaier">
        <div class = "about_text">Общество с ограниченной ответственностью «МС Технологии» было зарегистрировано в Межрайонной инспекцией Федеральной налоговой службы № 18 по Республике Татарстан от 23.01.2009 г.</div>
        <br>
        <div class = "about_text">Юридический адрес: 423822, Республика Татарстан (татарстан) , г. Набережные Челны, ул. Ивана Утробина, д. 5</div>
        <br>
        <div class = "about_text">Основным документом предприятия является устав, который разработан в соответствие с законом «Об обществах с ограниченной ответственностью». Согласно данного документа, основной целью предприятия является осуществление предпринимательской деятельности, удовлетворение потребностей общества и получение прибыли.</div>
        <br>
        <div class = "about_text">Основными видами деятельности ООО «МС Технологии» являются:</div>
        <ul> 
            <li>1. производство прочих приборов, датчиков, аппаратуры и инструментов для измерения, контроля и испытаний;</li>
            <li>2. производство инструментов и приборов для измерения, тестирования и навигации;</li>
            <li>3. производство электрической распределительной и регулирующей аппаратуры;</li>
            <li>4. производство прочего электрического оборудования и т.д..</li>
        </ul>
        <br>
        <div class = "about_text">Производственный процесс состоит из следующих этапов:</div>
        <ul>
            <li>1. Проектирование – создание полного технического задания и разработка чертежей и схем измерительных приборов.</li>
            <li>2. Подготовка производства – выбор и закупка необходимых материалов, оснастки и приспособлений, настройка оборудования.</li>
            <li>3. Обработка материалов – на этом этапе проводятся механическая, химическая или иная обработка материалов для получения необходимых форм и размеров.</li>
            <li>4. Сборка – сборка измерительных приборов из отдельных элементов (корпус, платы, дисплей и т.д.) по предварительно изготовленной схеме и технологической документации.</li>
            <li>5. Настройка и проверка – после сборки приборы протестировываются на соответствие заданным характеристикам и калибруются для точного измерения.</li>
            <li>6. Упаковка и отгрузка – изготовленные измерительные приборы упаковываются в соответствующую тару и доставляются на склад или клиенту.</li>
        </ul>
        <div class = "about_text">Весь процесс изготовления средств измерения подчиняется строгому контролю качества и требованиям международных стандартов.</div>
    </div>
</div>
<p><a href="{{ url_for('index') }}" class="btn btn-warning text-black mt-3" style="margin-left: 60px;">Назад</a></p>
{% endblock %}