{% extends 'base.html' %}

{% block body %}

<h1 align="center">Напомнить пароль?</h1>
<div class="container-fluid" style="width: 60%">
  <form method="POST" action="">
    {{ form.hidden_tag() }}
    <div class="form-group">
      {{ form.email.label }}
      {{ form.email(class="form-control", placeholder="Введите email", required="required") }}
      {% for error in form.email.errors %}
      <div class="alert alert-danger">
        {{ error }}
      </div>
      {% endfor %}
    </div>
    <div class="form-group">
      {{ form.submit(class="btn btn-warning btn-block", value="Отправить на почту") }}
    </div>
  </form>
</div>
{% endblock %}